/* //post.css */
.makepost-container {
   height: 50vh;
   background-color: #292929;
   margin: 0 10px;
   padding: 0.75rem 1.25rem 0 1.25rem;
   border-radius: 40px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
}
.makepost-navigation {
   display: flex;
   justify-content: center;
   font-size: 1.25rem;
}

.makepost-save {
   cursor: pointer;
}
.makepost-desc {
   background-color: #535353;
   color: white;

   font-family: 'Noto Sans', sans-serif;
   padding: 0.25rem 0.5rem 4rem 0.5rem;
   margin-top: 0.3rem;
   margin-bottom: 1rem;
   border-radius: 10px;
}
.makepost-title {
   background-color: #535353;
   color: white;

   font-family: 'Noto Sans', sans-serif;

   margin-top: 0.3rem;
   margin-bottom: 1rem;
   border-radius: 20px;
   padding: 10px;
}
.makepost-tags {
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.makepost-tags > button {
   color: white;
   border: none;
   padding: 0.4rem;
   font-family: 'Noto Sans', sans-serif;
   border-radius: 14px;
   cursor: pointer;
}
.makepost-tags-NSFW {
   background-color: #72a0c1;
}
.makepost-tags-Mood {
   background-color: #767853;
}
.makepost-tags-Quotes {
   background-color: #d32730;
}
.makepost-tags-ShitPost {
   background-color: #6a397b;
}
.makepost-tags-None {
   background-color: #c871d2;
}

.makepost-tags-selected {
   background-color: teal;
   box-shadow: 0px 0px 10px 7px rgb(0, 204, 160);
}

.post-container {
   display: flex;
   flex-direction: column;
   font-size: 0.85rem;
   font-family: 'Noto Sans', sans-serif;
}
.posts {
   background-color: rgb(49, 49, 49);
   margin-bottom: 1rem;
   padding: 1rem 1rem 1rem 2rem;
   font-family: 'Noto Sans', sans-serif;
}
.posts-title {
   font-size: 1.15rem;
   font-weight: 700;
}

.makepost-navigation > .title-post {
   background-color: #535353;
}

.posts-tags {
   color: white;
   border: none;
   margin: 0.75rem 0 0.75rem 0;
   font-size: 0.75rem;
   font-family: 'Noto Sans', sans-serif;
   border-radius: 14px;
   width: 50px;
   text-align: center;
   cursor: pointer;
}
/* .posts-tags-NSFW {
   background-color: #78081c;
}
.posts-tags-Mood {
   background-color: rgb(1, 111, 201);
}
.posts-tags-Quotes {
   background-color: rgb(183, 47, 224);
}
.posts-tags-Shitpost {
   background-color: rgb(197, 186, 23);
}
.posts-tags-None {
   background-color: #c871d2;
} */
