header {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.info-edit {
   cursor: pointer;
   align-self: flex-start;
   border: 2px solid white;

   padding: 10px 20px;
   border-radius: 16px;
   font-weight: 700;
}

.info-container {
   display: flex;
   flex-direction: column;
   text-align: start;

   color: white;
   margin: 15px 35px;
}
.info-username {
   width: 50%;
   font-weight: 700;
   margin-bottom: 0.5rem;
   margin-top: 30px;
}
.info-age,
.info-about {
   font-size: 0.85rem;
   margin-bottom: 0.5rem;
}

.info-ava {
   object-fit: cover;
   background-size: cover;
}
